/* src/styles/WelcomePage.css */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 0 20px; /* Padding for small screens */
  }
  
  .app-title {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .app-caption {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  
  .get-started-button {
    background-color: #1e90ff; /* Dodger blue */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button:hover {
    background-color: #1c86ee; /* Slightly darker blue on hover */
  }
  
  /* Responsive Design for iPhones */
  @media only screen and (max-width: 600px) {
    .app-title {
      font-size: 2.5em;
    }
  
    .app-caption {
      font-size: 1.2em;
    }
  
    .get-started-button {
      font-size: 1em;
      padding: 12px 25px;
    }
  }
  